<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 search-collapse">
			<form id="versionControl-form">
				<div class="select-list">
					<ul>
						<li>
							版本名称：<input type="text" name="name"/>
						</li>
						<li>
							下载地址：<input type="text" name="url"/>
						</li>
						<li>
							设备类型：<select name="type" th:with="type=${@dict.getType('sys_mobile_type')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>
						<li>
							用户状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>
						<li class="select-time">
							<label>创建时间： </label>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
							<span>-</span>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:versionControl:add">
				<i class="fa fa-plus"></i> 添加
			</a>
			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="module:versionControl:edit">
	            <i class="fa fa-edit"></i> 修改
	        </a>
			<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="module:versionControl:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('module:versionControl:edit')}]];
        var removeFlag = [[${@permission.hasPermi('module:versionControl:remove')}]];
        var prefix = ctx + "module/versionControl";
        var datas = [[${@dict.getType('sys_normal_disable')}]];
        var mobiletypedatas = [[${@dict.getType('sys_mobile_type')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "版本记录",
                pagination: true,     //是否显示分页（*）
                search: false,
                pageSize: 20,      //每页的记录行数（*）
                pageList: [10, 20, 50, 100],  //可供选择的每页的行数（*）
                showToggle:false,     //是否显示详细视图和列表视图的切换按钮
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                sortName: "orderNum",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'versionId',
					title : '版本id',
                    visible: false,
				},
				{
					field : 'orderNum',
					title : '显示顺序'
				},
				{
					field : 'name',
					title : '版本名称'
				},
				{
					field : 'url',
					title : '下载地址'
				},
				{
					field : 'type',
					title : '版本类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(mobiletypedatas, value);
                    }
				},
				{
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
				},
                    {
                        field : 'createTime',
                        title : '创建时间'
                    },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.versionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.versionId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
